
tr{
    color:#f2f2f2;
}
.a {
	background-color: #5A5537;
	
}

.b {
	background-color: #A59A67;
	
}

.c {
	background-color: #607334;	
}

.d {
	background-color: #5B125A;
}

.e {
	background-color: #4181FF;	
}

.f {	background-color: #FF497C;
	
}

.g {
	background-color: #FF2600;
}

.h {
	background-color: #B5B5B5;	
}

.i {
	background-color: #505050;	
}

.j {
	background-color: #0D0D0D;	
}

.k {
	background-color: #C3D7E9;	
}

.l{
    background-color: #6461DD;
}

.m {
	background-color: #11314F;
}

.n {
	background-color: #921101;
}

.o {
	background-color: #FF7202;	
}

.p {
	background-color: #FFB5D0;	
}

.q {
	background-color: #FFFC00;	
}

.r {
	background-color: #008D00;	
}


